<configuration>
  <appSettings>
    <add key="URL" value="https://qarecruitment.egnyte.com/fl/rCey0sCxMN"/>
    <add key="DownloadFolder" value="C:\EgnyteTest\EgnyteTest\EgnyteTest\DownloadData"/>
    <add key="DataFolder" value="C:\EgnyteTest\EgnyteTest\EgnyteTest\Data"/>
    <add key="ExtractFolder" value="C:\EgnyteTest\EgnyteTemp"/>
  </appSettings>
</configuration>